services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - med-net

  quiz-service:
    build:
      context: ./quiz-service
    container_name: quiz-service
    depends_on:
      - rabbitmq
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5001:80"
    networks:
      - med-net

  ai-service:
    build:
      context: ./ai-service
    container_name: ai-service
    depends_on:
      - rabbitmq
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
    ports:
      - "8001:8000"
    networks:
      - med-net

  api-gateway:
    build:
      context: ./api-gateway
    container_name: api-gateway
    depends_on:
      - quiz-service
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "7000:80"
    networks:
      - med-net

  ui-service:
    build:
      context: ./ui-service
    container_name: ui-service
    depends_on:
      - api-gateway
    environment:
      - GATEWAY_URL=http://api-gateway
    ports:
      - "5500:5500"
    networks:
      - med-net

networks:
  med-net:
    name: med-net
    driver: bridge
